html {
  background: url(https://media.istockphoto.com/photos/portrait-of-happy-handsome-hispanic-businessman-smiling-with-arms-picture-id1209197116?k=20&m=1209197116&s=612x612&w=0&h=pDMy_RX9MGI9TQ3B8VW5lITecza52cFuj3EA7Ml--yE=);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  background-repeat: no-repeat;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}
#greeting-first-line::before {
  content: 'Hello!';
}
#greeting-first-line:hover::before {
  content: 'About';
}
#greeting-second-line::before {
  content: 'My name is';
}
#greeting-second-line:hover::before {
  content: 'Portfolio';
}
#greeting-third-line::before {
  content: 'Rick Rieger';
}
#greeting-third-line:hover::before {
  content: 'Contact';
}

h1 {
  font-size: 12vh;
}

#greeting {
  margin-left: 400px;
  top: 20px;
}
